{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# This template checks for 'ea' variable existence because it can
   be used in a EasyAdmin Dashboard controller, where 'ea' is defined
   or from any other Symfony controller, where 'ea' is not defined #}
{% extends ea is defined ? ea.templatePath('layout') : '@EasyAdmin/page/login_minimal.html.twig' %}
{% trans_default_domain ea is defined ? ea.i18n.translationDomain : (translation_domain is defined ? translation_domain ?? 'messages') %}

{% block body_class 'page-login' %}
{% block page_title %}{{ page_title is defined ? page_title|raw : (ea is defined ? ea.dashboardTitle|raw : '') }}{% endblock %}

{% block wrapper_wrapper %}
    {% set page_title = block('page_title') %}
    {% set _username_label = username_label is defined ? username_label|trans : 'login_page.username'|trans({}, 'EasyAdminBundle') %}
    {% set _password_label = password_label is defined ? password_label|trans : 'login_page.password'|trans({}, 'EasyAdminBundle') %}
    {% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'login_page.sign_in'|trans({}, 'EasyAdminBundle') %}

    <div class="main-wrapper">
        </div>
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
             style="background:url(../assets/images/big/auth-bg.png) no-repeat center center;" >

            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(../assets/images/big/kadi.jpg);">
                </div>

                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <img src="../assets/images/big/logo-kdi.png" width="100" alt="Kaay dëkk immo">
                        </div>
                        {% if error|default(false) %}
                            <div class="w-100 alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <h2 class="mt-3 text-center">AUTHENTIFICATION</h2>
                        <p class="text-center">Entrer votre e-mail et mot de passe pour accéder au tableau de bord.</p>
                        <form class="mt-4" method="post">
                            {% if csrf_token|default(false) %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes connectés en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnectez-vous</a>
                                </div>
                            {% endif %}
                            <input type="hidden" name="{{ target_path_parameter|default('_target_path') }}" value="{{ target_path|default(ea is defined ? path(ea.dashboardRouteName) : '/') }}" />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-user"></i>e-mail
                                        <label for="username" class="sr-only form-control-label required">{{ _username_label }}</label>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                               class="form-control" placeholder="" required autofocus>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <i class="fa fa-fw fa-lock"></i>Mot de Passe
                                        <label for="password" class="sr-only form-control-label required">{{ _password_label }}</label>
                                        <input type="password" name="password" id="inputPassword"
                                               class="form-control" placeholder="" required>
                                    </div>
                                </div>

                                <div class="col-lg-12 text-center">
                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me">Souviens de moi
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">{{ _sign_in_label }}</button>
                                </div>
                            </div>
                        </form>
                        <script type="text/javascript">
                            const loginForm = document.querySelector('form');
                            loginForm.addEventListener('submit', () => {
                                loginForm.querySelector('button[type="submit"]').setAttribute('disabled', 'disabled');
                            }, false);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
