{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
<main id="main">

        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <form  method="post" role="form" >
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Bienvenue dans Kaay Dëkk Immo</h2>
                            <h3>Créer un compte</h3>
                            {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                            {{ form_row(registrationForm.agreeTerms) }}
                            <button type="submit" class="btn btn-success">créer</button>
                            {{ form_end(registrationForm) }}
                        </div>
                        <div class="col-md-4">
                            <h4 class="alert-info ">Informations</h4>
                            <p>Créer un compte utilisateur pour accéder aux <br>
                            ressources de la gestion immobilière.
                            Cette application web est fiérement propulsée
                              par la NGTS & REHOBOTH IMMO</p>
                        </div>
                    </div>
                </form>
            </div>
        </section>




    </main>
{% endblock %}
