{% extends 'base.html.twig' %}

{% block title %}Créer un compte utilisateur{% endblock %}

{% block body %}
<main id="main">

        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <form  method="post" role="form" >
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Bienvenue dans Kaay Dëkk Immo</h2>
                            <h3>Créer un compte</h3>
                            {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                            {{ form_row(registrationForm.agreeTerms) }}
                            <button type="submit" class="btn btn-success">créer</button>
                            {{ form_end(registrationForm) }}
                        </div>
                        <div class="col-md-4 mt-lg-2     " >
                            <h4 class="alert-info mt ">Informations</h4>
                            <p>Il faut créer un compte utilisateur pour accéder aux ressources de la gestion immobilière.
                            Cette application web est fièrement propulsée par la NGTS & LE REHOBOTH IMMO</p>
                            <div class="mt-4">
                                <img src="{{asset('assets/images/ngts.png') }}" class="rounded float-right" width="200" height="200" alt="...">
                                <img src="{{asset('assets/images/rehoboth.jpeg') }}" class="rounded float-left" width="200" height="200" alt="...">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </section>




    </main>
{% endblock %}
