<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 mb-4">
            <div class="col">
                <div class="card shadow-sm">
                    {% if bien.thumbnail %}
                        <img src="{{ vich_uploader_asset(bien, 'thumbnailFile' ) | imagine_filter('thumb')}}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('bien.show', {slug: bien.slug, id: bien.id}) }}">
                                {{ bien.label }}
                            </a>
                        </h5>
                        <p class="card-text">{{ bien.superficie }}m² - {{ bien.city }}({{ bien.postalCode }})</p>
                        <div class="text-primary" style="font-size: 2rem; font-weight: bold;">
                            {{ bien.formattedPrice }} FCFA
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
