{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                 
                <form  method="post" role="form" >
                    <div class="row">
                        <div class="col-lg-8">
                          <h1 class="text-center">FICHE D'INSCRIPTION AU PROJET DE 140 LOGEMENTS SOCIAUX</h1>
                            <div class="card mt-3">
                                <div class="card-body">
                                <h4 class="text-center">Deuxiéme et derniére étape</h4>
                                        {{ form_start(form) }}
                                        <!-- column 1 -->
                                            <div class="form-group">
                                                <div class="row">
                                                <div class="card-title"><strong>Bon à savoir*</strong></div>  
                                                    <div class="col-4 form-control-sm">{{ form_row(form.membre_cooperative) }}</div>
                                                    <div class="col-5 form-control-sm">{{ form_row(form.nom_de_la_cooperative)}}</div>
                                                    <div class="col-3 form-control-sm"> {{ form_row(form.nombre_de_personne_en_charge)}}</div>
                                                     <div class="col-4 form-control-sm">{{ form_row(form.compte_bancaire) }}</div>
                                                    <div class="col-5 form-control-sm">{{ form_row(form.nom_de_la_banque) }}</div>
                                                    <div class="col-3 form-control-sm">{{ form_row(form.beneficiaire_appui_ou_subvention) }}</div>
                                                     <div class="card-title mt-2 mb-0"><strong>Logement actuel*</strong></div>
                                                     <div class="col-5 form-control-sm">{{ form_row(form.logement_actuel) }}</div>
                                                     <div class="col-3 form-control-sm"> {{ form_row(form.qualite)}}</div>
                                                    <div class="col-4 form-control-sm"> {{ form_row(form.handicap)}}</div>
                                                </div>
                                            </div>
                                        <!-- column 1-->
                                </div>
                            </div>
                            <!-- column 2-->
                            <div class="card mt-2">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                        <div class="card-title"><strong>Situation professionnelle*</strong></div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.situation) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.secteur) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.type_de_contrat) }}</div>
                                            <h6 class="alert-danger"> Remplissez ces informations si vous êtes salarié </h6>
                                            <div class="col-4 form-control-sm"> {{ form_row(form.nom_de_la_societe)}}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.nom_employeur) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.salaire_mensuelle) }}</div>
                                            <h6 class="mt-4 alert-danger">Remplissez ces informations si vous êtes non-salarié </h6>
                                            <div class="col-4 form-control-sm">{{ form_row(form.activite_non_salarie) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.lieu_activite_non_salarie) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.revenu_mensuelle) }}</div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column 3-->
                             <div class="card mt-2">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                        <div class="card-title"><strong>Critéres du logement que vous souhaitez acquérir*</strong></div>
                                            <div class="col-6 form-control-sm">{{ form_row(form.type_de_logement) }}</div>
                                            <div class="col-6 form-control-sm">{{ form_row(form.mode_acquisition) }}</div>
                                            <div class="col-6 form-control-sm">{{ form_row(form.client) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.color) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column 3-->
                           <!-- column 3-->
                             <div class="card mt-2">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col form-control-sm">{{ form_row(form.status) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column 3-->
                            <div class="form-group mt-3">
                            <button type="submit" class="btn btn-success">Valider l'inscription</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="col-md-4 mt-lg-2">
                            <h4 class="alert-info mt ">Informations</h4>
                                <p></p>
                                <div class="mt-4">
                                        <img src="{{asset('assets/images/ngts.png') }}" class="rounded float-right" width="200" height="200" alt="...">
                                        <img src="{{asset('assets/images/logo-kdi.png') }}" class="rounded float-left" width="200"  alt="...">
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
