{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% trans_default_domain ea.i18n.translationDomain %}

<!DOCTYPE html>
<html lang="{{ ea.i18n.htmlLocale }}" dir="{{ ea.i18n.textDirection }}">
<head>
    {% block head_metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="generator" content="EasyAdmin" />
    {% endblock head_metas %}

    <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>

    {% block head_stylesheets %}
    <link href="{{  ('/assets/dist/css/style.min.css') }}" rel="stylesheet">
    {% endblock %}

    {% block configured_stylesheets %}
        {% for css_asset in assets.cssFiles ?? [] %}
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
            <link href="{{ ('/assets/scss/style.scss') }}" rel="stylesheet">
            <link href="{{ ('/assets/extra-libs/c3/c3.min.css') }}" rel="stylesheet">
            <link href="{{ ('/assets/libs/chartist/dist/chartist.min.css') }}" rel="stylesheet">
            <link href="{{ ('/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet" />
        {% endfor %}
    {% endblock %}

    {% block head_favicon %}
        <link rel="shortcut icon" href="{{ asset(ea.dashboardFaviconPath) }}">
    {% endblock %}

    {% block head_javascript %}
        <script src="{{ ('bundles/easyadmin/app.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock head_javascript %}

    {% block configured_head_contents %}
        {% for htmlContent in ea.assets.headContents ?? [] %}
            {{ htmlContent|raw }}
        {% endfor %}
    {% endblock %}
</head>

{% block body %}
    <body id="{% block body_id %}{% endblock %}" class="ea {% block body_class %}{% endblock %}">
    {% block javascript_page_layout %}
        <script>
            document.body.classList.add(
                'ea-content-width-' + (localStorage.getItem('ea/content/width') || '{{ ea.crud.contentWidth ?? ea.dashboardContentWidth ?? 'normal' }}'),
                'ea-sidebar-width-' + (localStorage.getItem('ea/sidebar/width') || '{{ ea.crud.sidebarWidth ?? ea.dashboardSidebarWidth ?? 'normal' }}')
            );
        </script>
    {% endblock javascript_page_layout %}

    {% block wrapper_wrapper %}
        {% block flash_messages %}
            {{ include(ea.templatePath('flash_messages')) }}
        {% endblock flash_messages %}

        <div id="main-wrapper" class="mini-sidebar" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
             data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
            {% block wrapper %}
                <header class="topbar" data-navbarbg="skin6">
                    {% block header %}
                        <nav class="navbar top-navbar navbar-expand-md navbar-light" role="navigation">
                                {# LOGO #}
                                <div data-logobg="skin6" class="navbar-header">
                                    <div id="header-logo" class="navbar-brand">
                                        <b class="logo-icon">
                                        <img src="{{ ('/assets/images/logo-icon.png') }}" alt="">
                                        </b>
                                        <span class="logo-text">
                                       <img src="{{ ('/assets/images/logo-text.png') }}" alt="">
                                        </span>
                                    </div>
                                </div>
                                <div  class="navbar-collapse collapse" >
                                <ul class="navbar-nav float-left mr-auto ml-3 pl-1"></ul>
                                {% block header_custom_menu %}
                                    {% if constant('Symfony\\Component\\Security\\Core\\Authorization\\Voter\\AuthenticatedVoter::IS_IMPERSONATOR') is defined %}
                                        {% set impersonator_permission = 'IS_IMPERSONATOR' %}
                                    {% else %}
                                        {% set impersonator_permission = 'ROLE_PREVIOUS_ADMIN' %}
                                    {% endif %}
                                <ul class="navbar-nav float-right">
                                    <li class="nav-item d-none d-md-block">
                                        <a class="nav-link" href="javascript:void(0)">
                                         {% block listing_search_wrapper %}{% endblock listing_search_wrapper %}
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            {% if ea.userMenu.isAvatarDisplayed %}
                                                {% if null == ea.userMenu.avatarUrl %}
                                                    <i class="fa fa-fw {{ ea.user is not null ? 'fa-user-circle' : 'fa-user-times' }} user-avatar"></i>
                                                {% else %}
                                                    <img class="user-avatar" src="{{ ea.userMenu.avatarUrl }}" />
                                                {% endif %}
                                            {% endif %}
                                            <span class="ml-2 d-none d-lg-inline-block"><span>Hello,</span>
                                                <span class="text-dark">
                                                  {% if ea.userMenu.isNameDisplayed %}
                                                      <span class="user-name">{{ ea.userMenu.name }}</span>
                                                  {% endif %}
                                                </span> <i class="fa fa-chevron-down"></i></span>
                                        </a>
                            {% set _user_menu_content %}
                                {% block user_menu %}
                                    {% if ea.userMenu.items|length > 0 %}
                                        <div class="dropdown-menu dropdown-menu-right user-dd">
                                            {% for item in ea.userMenu.items %}
                                                {% if item.isMenuSection %}
                                                    <div class="popover-content-section user-details {{ ea.userMenu.items|length > 0 ? 'user-has-actions' }}">
                                                       {{ ea.user is null ? 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}
                                                    </div>
                                                    <hr class="m-0" />
                                                {% else %}
                                                    <a class="dropdown-item" href="{{ item.linkUrl }}"  target="{{ item.linkTarget }}" rel="{{ item.linkRel }}"
                                                       referrerpolicy="origin-when-cross-origin">
                                                        <i class="fa fa-power-off"></i>
                                                        <span>{{ item.label }}</span>
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endblock user_menu %}
                            {% endset %}
                     {{ _user_menu_content }}
                         </li>
                     </ul>
                  </div>
                {% endblock header_custom_menu %}
             </nav>
                {% endblock header %}
            </header>
                <aside class="left-sidebar" data-sidebarbg="skin6">
                    {% block sidebar %}
                        <div class="scroll-sidebar ps-container ps-theme-default ps-active-y" data-sidebarbg="skin6">
                            {% block main_menu_wrapper %}
                                {{ include(ea.templatePath('main_menu')) }}
                            {% endblock main_menu_wrapper %}
                        </div>
                    {% endblock sidebar %}
                </aside>

                <div class="page-wrapper" style="display: block;">
                    {% block content_header_wrapper %}
                        {% set has_help_message = (ea.crud.helpMessage ?? '') is not empty %}
                        <div class="page-breadcrumb">
                            <div class="row">
                                <div class="col-5">
                                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">{% block content_title %}{% endblock %}</h3>
                                    <div class="d-flex align-items-center">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb m-0 p-0">
                                                {% if has_help_message %}
                                                <li class="breadcrumb-item">
                                                    <a>
                                                        <i class="far fa-question-circle" data-toggle="tooltip"
                                                           title="{{ ea.crud.helpMessage|e('html_attr') }}"></i>
                                                    </a>
                                                </li>
                                                {% endif %}
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-7">
                                    {% block page_actions_wrapper %}
                                        <div class="page-actions">{% block page_actions %}{% endblock %}</div>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    {% endblock content_header_wrapper %}

                    {% block content %}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <section id="main" class="content-body">
                                                {% block main %}{% endblock %}
                                            </section>
                                        </div>

                                        {% block content_footer_wrapper %}
                                            {% set content_footer = block('content_footer') is defined ? block('content_footer') : '' %}
                                            {% if content_footer is not empty %}
                                                <div class="card-footer">
                                                    {{ content_footer }}
                                                </div>
                                            {% endif %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock content %}
                </div>
            {% endblock wrapper %}
        </div>
    {% endblock wrapper_wrapper %}

    {% block body_javascript %}{% endblock body_javascript %}

    {% block configured_javascripts %}
        {% for js_asset in ea.assets.jsFiles ?? [] %}
            <script src="{{ asset (js_asset) }}"></script>
            <script src="{{ ('/assets/libs/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ ('/assets/libs/popper.js/dist/umd/popper.min.js') }}"></script>
            <script src="{{ ('/assets/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ ('/assets/dist/js/app-style-switcher.js') }}"></script>
            <script src="{{ ('/assets/dist/js/feather.min.js') }}"></script>
            <script src="{{ ('/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
            <script src="{{ ('/assets/dist/js/sidebarmenu.js') }}"></script>
        {% endfor %}
    {% endblock %}
    <!--Custom JavaScript -->
    <script src="{{ ('/assets/dist/js/custom.min.js') }}"></script>
    {% block configured_body_contents %}
        {% for htmlContent in ea.assets.bodyContents ?? [] %}
            {{ htmlContent|raw }}
        {% endfor %}

        <script src="{{ ('/assets/extra-libs/c3/c3.min.js') }}"></script>
        <script src="{{ ('/assets/libs/chartist/dist/chartist.min.js') }}"></script>
        <script src="{{ ('/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js') }}"></script>
        <script src="{{ ('/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js') }}"></script>
        <script src="{{ ('/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js') }}"></script>
        <script src="{{ ('/assets/dist/js/pages/dashboards/dashboard1.min.js') }}"></script>
    {% endblock %}
    </body>
{% endblock body %}
</html>
