{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% macro render_menu_item(item) %}
    {% if item.isMenuSection %}
        {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
        <span class="{{ item.cssClass }}">{{ item.label }}</span>
    {% else %}
        <a href="{{ item.linkUrl }}" class="sidebar-link {{ item.cssClass }}" target="{{ item.linkTarget }}"
           rel="{{ item.linkRel }}" >
            {% if item.icon is not empty %}<i class="menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label|raw }}</span>
            {% if item.hasSubItems %}<i class="fa fa-fw fa-angle-right "></i>{% endif %}
        </a>
    {% endif %}
{% endmacro %}

{% block main_menu_before %}{% endblock %}

<nav class="sidebar-nav">
<ul class="in" id="sidebarnav">
    {% block main_menu %}
        {% for menuItem in ea.mainMenu.items %}
            {% block menu_item %}
                <li class="sidebar-item {{ menuItem.isMenuSection ? 'header' }} {{ menuItem.hasSubItems ? 'treeview' }}
                  {{ ea.mainMenu.isSelected(menuItem) ? 'selected' }} {{ ea.mainMenu.isExpanded(menuItem) ? 'selected submenu-selected' }}">
                    {{ _self.render_menu_item(menuItem) }}
                    <li class="list-divider"></li>
                    
                    {% if menuItem.hasSubItems %}
                        <ul class="collapse first-level base-level-line in" aria-expanded="false" >
                            {% for menuSubItem in menuItem.subItems %}
                                {% block menu_subitem %}
                                    <li class="sidebar-item {{ menuSubItem.isMenuSection ? 'header' }}
                                      {{  ea.mainMenu.isSelected(menuSubItem) ? 'active' }}">
                                        <span >{{ _self.render_menu_item(menuSubItem) }}</span>
                                    </li>
                                {% endblock menu_subitem %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endblock menu_item %}
        {% endfor %}
    {% endblock main_menu %}
</ul>
</nav>
{% block main_menu_after %}{% endblock %}
