{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends 'bundles/EasyAdminBundle/layout.html.twig' %}

{% block page_title 'Bienvenue dans Kaay Dëkk' %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" 
	integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">

{% endblock %}
{% block content %}
	<div class="container-fluid">
		{% block flash_messages %}
			{{ include(ea.templatePath('flash_messages')) }}
		{% endblock flash_messages %}

		<div class="col-7 align-self-center">
			<h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Bienvenue
				{{ ea.userMenu.name }}</h3>
			<div class="d-flex align-items-center">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb m-0 p-0">
						<li class="breadcrumb-item">
							<a href="{{'/'}}">Visiter le site web</a>
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="card-group">
			<div class="card border-right">
				<div class="card-body">
					<div class="d-flex d-lg-flex d-md-block align-items-center">
						<div>
							<div class="d-inline-flex align-items-center">
								<h2 class="text-dark mb-1 font-weight-medium">{{ (countAllClient['value']) }}</h2>
								<span class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">
									+{{ (countAllClient ['value'] |format_number) }}
									%</span>
							</div>
							<h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total des inscrit(e)s</h6>
						</div>
						<div class="ml-auto mt-md-3 mt-lg-0">
							<span class="opacity-7 text-muted">
								<i data-feather="users"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-right">
				<div class="card-body">
					<div class="d-flex d-lg-flex d-md-block align-items-center">
						<div>
							<div class="d-inline-flex align-items-center">
								<h2 class="text-dark mb-1 font-weight-medium">{{ (countAllBien['value']) }}</h2>

								<span class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">
									+{{ (countAllBien ['value'] | format_number) }}
									%</span>
							</div>
							<h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total des Biens</h6>
						</div>
						<div class="ml-auto mt-md-3 mt-lg-0">
							<span class="opacity-7 text-muted ">
								<i data-feather="home"></i>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<div class="d-flex d-lg-flex d-md-block align-items-center">
						<div>
							<h2 class="text-dark mb-1 font-weight-medium">{{ (countAllProjet['value']) }}</h2>

							<h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total des Projets</h6>
						</div>
						<div class="ml-auto mt-md-3 mt-lg-0">
							<span class="opacity-7 text-muted">
								<i data-feather="file-plus"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- column -->
			<div class="col-lg-12 col-md-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title"><i class="fa fa-bar-chart"></i> Inscrit(e) par date</h4>
						<p class="font-14 mb-2 text-muted">- Statistique des inscriptions enregistrées par date
							<br></p>
						<div class="chart-container">
							<canvas id="client" height="150"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- column -->
		</div>

		<div class="row">
		
			<!-- column -->

			<div class="col-md-6 col-lg-4 table-responsive">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Inscrits par Mois</h4>
						<p class="font-14 mb-2 text-muted">- Statistiques des nombres d'inscrits par mois, groupées par mois
							<br> - Le mois est représenté en chiffre</p>
						<div class="chart-container">
							<canvas id="mois" height="150"></canvas>
							{# <ul class="list-style-none mb-0">
								<li>
									<i class="fas fa-circle text-primary font-10 mr-2"></i>
									<span class="text-muted">Les ventes directes</span>
									{% for sommes in somme %}
										<span class="responsive text-dark float-right font-weight-medium" style="font-weight: bold; font-size: 18px;">{{sommes.prix_global | format_number}}</span>
									{% endfor %}
								</li>
							</ul> #}
						</div>
					</div>
				</div>
			</div>
			
			<!-- column -->
			<!-- column -->
			<div class="col-md-12 col-lg-8 table-responsive">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title"><i class="fa fa-line-chart"></i>Salaire Mensuels</h4>
						<p class="font-14 mb-2 text-muted">- Statistiques des candidats, selon leurs salaires mensuels<br></p>
						<div class="chart-container ">
							<canvas id="pie1" height="150"></canvas>
						</div>
					</div>
				</div>
			</div>
			<!-- column -->
		</div>

			<div class="row">
			<!-- column -->

			<div class="col-md-6 col-lg-4 table-responsive">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Propriétés vendues</h4>
						<p class="font-14 mb-2 text-muted">- Statistiques des propriétés vendues, groupées par prix de la  nature du bien
							<br></p>
						<div class="chart-container">
							<canvas id="price" height="150"></canvas>
							<ul class="list-style-none mb-0">
								<li>
									<i class="fas fa-circle text-primary font-10 mr-2"></i>
									<span class="text-muted">Les ventes directes</span>
									{% for sommes in somme %}
										<span class="responsive text-dark float-right font-weight-medium" style="font-weight: bold; font-size: 18px;">{{sommes.prix_global | format_number}}</span>
									{% endfor %}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<!-- column -->
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title text-center">Prix des Biens</h4>
						<div class="table-responsive">
							<table class="table">
								<thead class="bg-primary text-white">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nature du Bien</th>
										<th scope="col">Prix</th>
									</tr>
								</thead>
								{% for bien in price %}
									<tbody>
										<tr>
											<th scope="row">{{ bien.id }}</th>
											<td>{{ bien.label }}</td>
											<td>{{ bien.price | format_number}} F CFA</td>
										</tr>
									</tbody>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- column -->
		{% if app.user %}
				<div class="col-md-6 col-lg-4">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Les activités récentes</h4>
							<div class="mt-4 activity">
								<div class="d-flex align-items-start border-left-line pb-3">
									<div>
										<a href="javascript:void(0)" class="btn btn-success btn-circle mb-2 btn-item">
											<i data-feather="user-plus"></i>
										</a>
									</div>
									<div class="ml-3 mt-2 table-responsive">
										<h5 class="text-dark font-weight-medium mb-2">Les inscriptions non-activés !</h5>
										{% for client in creation %}
											<p class="font-14 mb-2 text-muted">{{client.prenom}}
												{{ client.nom }}
												<br>
												<span class="font-weight-light font-14 text-muted">{{ client.tel}}</span>
											</p>
										{% endfor %}
									</div>
								</div>
								{% if is_granted('ROLE_ADMIN') %}
									<div class="d-flex align-items-start border-left-line pb-3">
										<div>
											<a href="javascript:void(0)" class="btn btn-danger btn-circle mb-2 btn-item">
												<i data-feather="users"></i>
											</a>
										</div>
										<div class="ml-3 mt-2 table-responsive">
											<h5 class="text-dark font-weight-medium mb-2">Les utilisateurs non vérifié !<br>
												du système</h5>
											{% for utilisateur in users %}
												<p class="font-14 mb-2 text-muted">{{ utilisateur.email }}</p>
											{% endfor %}
										</div>
									</div>
									<div class="d-flex align-items-start border-left-line">
										<div>
											<a href="javascript:void(0)" class="btn btn-cyan btn-circle mb-2 btn-item">
												<i data-feather="users"></i>
											</a>
										</div>
										<div class="ml-3 mt-2 table-responsive">
											<h5 class="text-dark font-weight-medium mb-2">Les utilisateurs vérifiés!</h5>
											{% for verified in userVerified %}
												<p class="font-14 mb-2 text-muted">{{ verified.email }}</p>
											{% endfor %}
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			<!-- column -->
		</div>
		
	
	{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" 
		integrity="sha512-s+xg36jbIujB2S2VK</div>fpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

		<script>

let bienx = document.querySelector("#pie1")
let bienGraph = new Chart(bienx, {
type: "polarArea",
data: {
labels: {{ nom|raw }},
datasets: [
{
	label: "Salaire Mensuel",
	data: {{ salaire |raw}},
	backgroundColor: {{ color|raw }}
}]
    
	  }
})


let clients = document.querySelector("#client")
let clientGraph = new Chart(clients, {
type: "bar",
data: {
labels: {{ dates|raw }},
datasets: [
{
label: "Nombre d'inscrit(e)s",
data: {{ compte|raw }},
backgroundColor: {{ colorClient|raw }}
}
]

}
})

let mois = document.querySelector("#mois")
let moisGraph = new Chart(mois, {
type: "pie",
data: {
labels: {{ mois|raw }},
datasets: [{
label: "Nombre d'inscrit(e)s",
data: {{ nbrIns|raw }},
backgroundColor: {{ colorClient|raw }}
}]

}
})



let prices = document.querySelector("#price")
let priceGraph = new Chart(prices, {
type: "doughnut",
data: {
labels: {{ group|raw }},
datasets: [
{
label: "Nombre de Clients",
data: {{ prix_total|raw }},
backgroundColor: {{ colorx|raw }}

}
]

}
})
		</script>
	{% endblock %}
{% endblock %}

