{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
    <main id="main">
        <section class="intro-single">
            <div class="container">
                 
                <form  method="post" role="form" >
                    <div class="row">
                        <div class="col-lg-8">
                          <h1 class="text-center">FICHE D'INSCRIPTION AU PROJET DE 660 LOGEMENTS SOCIAUX</h1>
                            <div class="card mt-3">
                                <div class="card-body">
                                        {{ form_start(form) }}
                                         <!-- column 1 Infos perso debut -->
                                        <div class="card mt-4">
                                            <div class="card-body">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="card-title"><strong>Informations personnelle*</strong></div>  
                                                    <div class="col-6 form-control-sm">{{ form_row(form.nom)}}</div>
                                                    <div class="col-6 form-control-sm"> {{ form_row(form.prenom)}}</div>
                                                    <div class="col-6 form-control-sm">{{ form_row(form.dateDeNaissance) }}</div>
                                                    <div class="col-6 form-control-sm"> {{ form_row(form.lieuDeNaissance)}}</div>
                                                </div>
                                            </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-6 form-control-sm">{{ form_row(form.nationalite) }}</div>
                                                        <div class="col-6 form-control-sm">{{ form_row(form.nin) }}</div>
                                                        <div class="col-2 form-control-sm">{{ form_row(form.situationMatrimoniale) }}</div>
                                                        <div class="col-4 form-control-sm">{{ form_row(form.profession) }}</div>
                                                        <div class="col-6 form-control-sm">{{ form_row(form.ville) }}</div>
                                                        <div class="col-4 form-control-sm">{{ form_row(form.adresse) }}</div>
                                                        <div class="col-4 form-control-sm">{{ form_row(form.email) }}</div>
                                                        <div class="col-4 form-control-sm">{{ form_row(form.tel) }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    
                                         <!-- column 1- Infos perso Fin->

                                        <!-- column 1 Bon à savoir debut -->
                                        <div class="card mt-4">
                                            <div class="card-body">
                                            <div class="form-group">
                                                <div class="row">
                                                <div class="card-title"><strong>Bon à savoir*</strong></div>  
                                                    <div class="col-6 form-control-sm">{{ form_row(form.membreCooperative) }}</div>
                                                    <div class="col-6 form-control-sm">{{ form_row(form.nomCooperative)}}</div>
                                                     <div class="col-6 form-control-sm">{{ form_row(form.compteBancaire) }}</div>
                                                    <div class="col-6 form-control-sm">{{ form_row(form.nomBanque) }}</div>
                                                    <div class="col-6 form-control-sm">{{ form_row(form.beneficiaireAppui) }}</div>
                                                    <div class="col-2 form-control-sm"> {{ form_row(form.nbreDePersonneACharge)}}</div>
                                                    <div class="col-4 form-control-sm">{{ form_row(form.sourceOuAgence) }}</div>
                                                    </div>
                                                    </div>
                                                    <div class="card mt-4">
                                            <div class="card-body">
                                            <div class="form-group">
                                                <div class="row">
                                                     <div class="card-title mt-2 mb-0"><strong>Logement actuel*</strong></div>
                                                     <div class="col-5 form-control-sm">{{ form_row(form.logementActuel) }}</div>
                                                     <div class="col-3 form-control-sm"> {{ form_row(form.qualite)}}</div>
                                                    <div class="col-4 form-control-sm"> {{ form_row(form.handicap)}}</div>
                                                </div>
                                            </div>
                                               </div>
                                            </div>
                                               </div>
                                            </div>
                                        <!-- column 1 Bon à savoir Fin -->
                                </div>
                            </div>
                            <!-- column 2-->
                            <div class="card mt-2">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                        <div class="card-title"><strong>Situation professionnelle*</strong></div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.situationProfessionelle) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.secteur) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.typeDeContrat) }}</div>
                                            <h6 class="alert-danger mt-4"> Remplissez ces informations si vous êtes salarié </h6>
                                            <div class="col-6 form-control-sm"> {{ form_row(form.nomEntreprise)}}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.salaireMensuel)  }}</div>
                                            <h6 class="mt-4 alert-danger">Remplissez ces informations si vous êtes non-salarié </h6>
                                            <div class="col-4 form-control-sm">{{ form_row(form.activiteNonSalarie) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.lieuActiviteNonSalarie) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.revenuMensuel) }}</div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column 3-->
                             <div class="card mt-2">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                        <div class="card-title"><strong>Critéres du logement que vous souhaitez acquérir*</strong></div>
                                            <div class="col-6 form-control-sm">{{ form_row(form.typeDeLogement) }}</div>
                                            <div class="col-6 form-control-sm">{{ form_row(form.moodeAcquisition) }}</div>
                                            <div class="col-4 form-control-sm">{{ form_row(form.color) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column 3-->
                           <!-- column 3-->
                             <div class="card mt-2">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col form-control-sm">{{ form_row(form.status) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column 3-->
                            <div class="form-group mt-3">
                            <button type="submit" class="btn btn-success">Valider l'inscription</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="col-md-4 mt-lg-2">
                                <div class="mt-4">
                                        <img src="{{asset('assets/images/logo-kdi.png') }}" class="rounded float-left" width="400"  alt="...">
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
