
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Bienvenue dans Kaay Dëkk!{% endblock %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{{ asset ('assets/images/favicon.png') }}" rel="icon">
        <link href="{{ asset('assets/images/logo-kdi.png') }}" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{ asset ('assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{ asset ('assets/css/style.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset ('build/app.css') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin=""/>
        
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
    <!-- ======= Header/Navbar ======= -->
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg  fixed-top navbar-trans">
                    <div class="container">
                        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#navbarDefault" aria-controls="navbarDefault"
                          aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
               <a class="navbar-brand text-brand" href="{{ path('home') }}">Kaay Dëkk<span class="color-b"> Immo</span></a>
                        {% if app.user %}
                            <div>
                            Salut {{ app.user.email }} <a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                            {# Si l'utilisateur est authentifié #}
                            {% if is_granted('ROLE_SUPER_USER') %}
                                {# Si l'utilisateur est authentifié et qu'il est super-admin #}
                                <a class="btn btn-sm btn-primary" href="{{ path('app_register') }}">Ajouter un utilisateur</a>
                                <a class="btn btn-sm btn-warning" href="{{ path('admin') }}">Tableaux de Bord</a>
                             </div>
                            {% endif %}

                        {% else %}
                            <div>
                                <a class="btn btn-sm btn-primary" href="{{ path('form_client') }}">S'inscrire au programme</a>

                            </div>
                        {% endif %}
                        <div class="navbar-collapse justify-content-center collapse" id="navbarDefault">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if current_menu is defined and current_menu == 'properties'%}active{% endif %}"
                                       aria-current="page" href="{{ path('property.index') }}">Propriétés</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Projet</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
     <!-- End Header/Navbar -->
        {% if message is defined %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
    {% block body %}{% endblock %}

    <!-- ======= Footer ======= -->
    <!-- ======= Footer ======= -->
    <section class="section-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="widget-a">
                        <div class="w-header-a">
                            <h3 class="w-title-a text-brand">Kaay Dëkk Immo</h3>
                        </div>
                        <div class="w-body-a">
                            <p class="w-text-a color-text-a">
                                Une agence immobilière de référence
                            </p>
                        </div>
                        <div class="w-footer-a">
                            <ul class="list-unstyled">
                                <li class="color-a">
                                    <span class="color-text-a">Email :</span> contact@ngts.sn
                                </li>
                                <li class="color-a">
                                    <span class="color-text-a">Fixe :</span> +221 33 891 05 87
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 section-md-t3">
                    <div class="widget-a">
                        <div class="w-header-a">
                            <h3 class="w-title-a text-brand">L'entreprise</h3>
                        </div>
                        <div class="w-body-a">
                            <div class="w-body-a">
                                <ul class="list-unstyled">
                                    <li class="item-list-a">
                                        <i class="bi bi-chevron-right"></i> <a href="#">plan du site</a>
                                    </li>
                                    <li class="item-list-a">
                                        <i class="bi bi-chevron-right"></i> <a href="#">Légale</a>
                                    </li>
                                    <li class="item-list-a">
                                        <i class="bi bi-chevron-right"></i> <a href="#">Agent Administrateur</a>
                                    </li>
                                    <li class="item-list-a">
                                        <i class="bi bi-chevron-right"></i> <a href="#">Affilier</a>
                                    </li>
                                    <li class="item-list-a">
                                        <i class="bi bi-chevron-right"></i> <a href="#">Politique de confidentialité</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 section-md-t3">
                    <div class="widget-a">
                        <div class="w-header-a">
                            <h3 class="w-title-a text-brand">Nos Partenaires</h3>
                        </div>
                        <div class="w-body-a">
                            <ul class="list-unstyled">
                                <li class="item-list-a">
                                    <i class="bi bi-chevron-right"></i> <a href="#"></a>
                                </li>
                                <li class="item-list-a">
                                    <i class="bi bi-chevron-right"></i> <a href="#"></a>
                                </li>
                                <li class="item-list-a">
                                    <i class="bi bi-chevron-right"></i> <a href="#"></a>
                                </li>
                                <li class="item-list-a">
                                    <i class="bi bi-chevron-right"></i> <a href="#"></a>
                                </li>
                                <li class="item-list-a">
                                    <i class="bi bi-chevron-right"></i> <a href="#"></a>
                                </li>
                                <li class="item-list-a">
                                    <i class="bi bi-chevron-right"></i> <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="nav-footer">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="{{ path('home') }}">Accueil</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{ path('property.index') }}">Propriétés</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Projet</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="socials-a">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-footer">
                        <p class="copyright color-text-a">&copy; Copyright
                            <span class="color-a">NGTS HABITAT</span> Tous droits réservés.
                        </p>
                    </div>
                    <div class="credits text-muted">Designed by <a class="text-muted" href="http://idy-portfolio.byethost24.com/">Idrissa Ndiouck</a>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <!-- End  Footer -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ asset ('assets/js/main.js') }}"></script>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script>
        let villes = {
        "Dakar":{"lat":14.71550470,"lon":-17.46685552},
       "Pikine":{"lat":14.75887661,"lon":-17.40394144},
        "Touba":{"lat":14.87519113,"lon":-15.88520676},
        "Guédiawaye":{"lat":14.77826986,"lon":-17.39957340},
        "Thiès":{"lat":14.79105177,"lon":-16.93533769},
        "Kaolack":{"lat":14.16474444,"lon":-16.07720393},
        "Mbour":{"lat":14.42289517,"lon":-16.96626826},
        "Saint-Louis":{"lat":16.03216197,"lon":-16.47872746},
        "Rufisque":{"lat":14.71570557,"lon":-17.27114361},
        "Ziguinchor":{"lat":12.56392138,"lon":-16.26233900},
        "Diourbel":{"lat":14.65961125,"lon":-16.23502509},
        "Louga":{"lat":15.61443315,"lon":-16.22886719},
        "Tambacounda":{"lat":13.77281388,"lon":-13.67213631},
        "Mbacké":{"lat":14.80073160,"lon":-15.90865314},
        "Kolda":{"lat":12.91090969,"lon":-14.95098697},
        "Richard-Toll":{"lat":16.45905068,"lon":-15.69482816},
        "Bargny":{"lat":14.69944138,"lon":-17.23166752},
        "Tivaouane":{"lat":14.95212311,"lon":-16.81606649},
        "Joal-Fadiouth":{"lat":14.18224990,"lon":-16.84449493},
        "Dahra":{"lat":15.35574845,"lon":-15.48196799},
        "Kaffrine":{"lat":14.10547476,"lon":-15.54199354},
        "Bignona":{"lat":12.80500109,"lon":-16.23364148},
        "Fatick":{"lat":14.33906954,"lon":-16.41089201},
        "Vélingara":{"lat":13.15182615,"lon":-14.10863394},
        "Bambey":{"lat":14.69629436,"lon":-16.45788433},
        "Sébikhotane":{"lat":14.74624775,"lon":-17.13815693},
        "Dagana":{"lat":16.51487265,"lon":-15.50593611},
        "Sédhiou":{"lat":12.70452441,"lon":-15.55653341},
        "Nguékhokh":{"lat":14.51804369,"lon":-17.00850163},
        "Diawara":{"lat":15.01884981,"lon":-12.54480657},
        "Kédougou":{"lat":12.56695663,"lon":-12.16613595},
        "Pout":{"lat":14.76752393,"lon":-17.06304124},
        "Kayar":{"lat":14.91789869,"lon":-17.12028273},
        "Matam":{"lat":15.65272942,"lon":-13.25629246},
        "Meckhe":{"lat":15.12190177,"lon":-16.68292140},
        "Nioro du Rip":{"lat":13.74877248,"lon":-15.77288412},
        "Ourossogui":{"lat":15.60431306,"lon":-13.32130920},
        "Kébémer":{"lat":15.36841043,"lon":-16.44584670},
        "Ndioum":{"lat":16.51355629,"lon":-14.64937806},
        "Koungheul":{"lat":13.97767287,"lon":-14.80090137},
        "Guinguinéo":{"lat":14.27022590,"lon":-15.94635493},
        "Linguère":{"lat":15.39601057,"lon":-15.11100780},
        "Khombole":{"lat":14.76740826,"lon":-16.68535902},
        "Bakel":{"lat":14.90252873,"lon":-12.46321694},
        "Sokone":{"lat":13.87801661,"lon":-16.37255793},
        "Diamniadio":{"lat":14.73236878,"lon":-17.18351641},
        "Mboro":{"lat":15.13917679,"lon":-16.88206176},
        "Thiadiaye":{"lat":14.42225293,"lon":-16.70162210},
        "Goudomp":{"lat":12.53353777,"lon":-15.94360505},
        "Podor":{"lat":16.65998562,"lon":-14.96013897},
        "Gossas":{"lat":14.49214934,"lon":-16.06750130},
        "Kanel":{"lat":15.48980826,"lon":-13.17631949},
        "Rosso":{"lat":16.49240543,"lon":-15.81980107},
        "Ndoffane":{"lat":13.91911319,"lon":-15.92684987},
        "Gandiaye":{"lat":14.24226389,"lon":-16.27315639},
        "Bambilor":{"lat":14.79983107,"lon":-17.18496393}
        }

        let map = L.map('maCarte').setView([14.71550470,-17.46685552], 13);
        L.tileLayer('https://a.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">' +
                'OpenStreetMap</a> contributors, Imagery © ' +
                '<a href="https://www.openstreetmap.fr/">OSM France</a>',
            minZoom: 1,
            maxZoom: 20,
        }).addTo(map);

        //Desiner un cercle de 5km de diamétre autour des sites
        let cercle = L.circle([14.71550470,-17.46685552],{
            color:'blue',
            fillColor:'blue',
            fillOpacity: 0.2,
            radius: 2500
        }).addTo(map);

        cercle.bindPopup('ville de Dakar');

       
    </script>
        <script src="{{ asset ('build/app.js') }}"></script>
    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous">
        </script>
        <script src="{{ asset ('assets/js/script.js') }}"></script>
    {% endblock %}
    </body>

</html>
