{{ form_start(form, {'attr': {'id': 'new_edit_user'}}) }}
{# utilisation de classes bootstrap pour la mise en forme #}
<form>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-8 mt-lg-2">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="col-sm-8 mt-lg-2">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="col-sm-8 mt-lg-2">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
            <div class="col-sm-8 mt-lg-2">
                <label for="verifpass">Confirmer le Mot de passe</label>
                <input type="password" class="form-control" id="verifpass" required>
            </div>
        </div>
        <div class="col-8 mt-lg-2">
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    </div>
</form>
{{ form_end(form) }}